---
layout: base.njk
title: "Fibonacci 1: Yet Another War In My Lifetime"
date: 2026-02-28
tags:
    - poems
    - politics
    - war
    - Fibonacci
originallyPublished: "davemitchner.com + Facebook"
permalink: "/poems/fibonacci-war/"
---


<p class="poem-title">A Fibonacci poem regarding yet another war in my lifetime</p>
<p class="kicker">Dave Mitchner</p>
<p class="meta">Written February 28, 2026 • Originally published: {{ originallyPublished }}</p>

<div class="poem">
War.
Why?
Again
Smedley said -
"It is a racket!"
The rich must profit
But avoid
Self risk
For
Cash.
</div>>

{% set cats = tags | reject("equalto","poems") | list %}
{% if cats.length %}
<div class="catbox">
  <span class="catlabel">Categories:</span>
  {% for t in cats %}
    <a class="catlink" href="/category/{{ t | slug }}/">{{ t }}</a>{% if not loop.last %} | {% endif %}
  {% endfor %}
</div>
{% endif %}