---
layout: base.njk
title: "Senryū 2: Refs are People Too"
date: 2026-03-13
tags:
    - poems
    - sports
    - refereeing
originallyPublished: "davemitchner.com + Facebook"
permalink: "/poems/senryuRefs/"
---
<p class="poem-title">Senryū 2: Referees are people too</p>
<p class="kicker">Dave Mitchner</p>
<p class="meta">Written March 13, 2026 • Originally published: {{ originallyPublished }}</p>

<div class="poem">
This poem was originally written when I learned my friend Dallas Edwards took a serious injury while working as the referee at an OVW Wrestling event. As a referee myself, I found it terrifying. Then I saw the video.

Ref seizes mid-match
Match continues anyway
Dallas is okay.

Safety number one
It makes sense to check on him
Refs are people too.
</div>


{% set cats = tags | reject("equalto","poems") | list %}
{% if cats.length %}
<div class="catbox">
  <span class="catlabel">Categories:</span>
  {% for t in cats %}
    <a class="catlink" href="/category/{{ t | slug }}/">{{ t }}</a>{% if not loop.last %} | {% endif %}
  {% endfor %}
</div>
{% endif %}
