---
layout: base.njk
title: Dave Mitchner
---
<div class="masthead">Refereeing</div

<p>I tend to learn sports by learning the rulebook; once I know the rulebook, I might as well take the test. Over the years, that has resulted in a number of officiating certifications. If I ever stumble across a free ICC limited-overs course, I’d probably add that too.

<p class="poem-title">Refereeing Notes of Interest</p>
<ul>
<li>Member of the inaugural U.S. IBSA Blind Football referee cadre, November 2025. Assignments included USA vs. Japan (Referee 2), England vs. Japan (Referee 3), and England vs. USA (timekeeper).</li>
<li>Multiple soccer club cup finals in the Kentucky area</li>
<li>First varsity high school whistle, September 2026.</li>
</ul>
<p>

<p class="poem-title">States Worked</p>
<ol class="two-col">
<li>California</li>
<li>Indiana</li>
<li>Kentucky</li>
<li>Ohio</li>
<li>Pennsylvania</li>
<li>Texas</li>
</ol>
<p>
<p class="poem-title">Credentials I've held</p>
<p>Game counts accurate as of March 3, 2026

<ol>
<li>IBSA Blind Football - 4 International matches</li>
<li>Combat Sports
<ul>
<li>Amtgard - game count unknown <em>Expired</em></li> 
<li>Society for Creative Anachronism Rapier - game count unknown <em>Expired</em></li>
<li>Society for Creative Anachronism Cut and Thrust - game count unknown <em>Expired</em> </li>
</ul>
</li>
<li>Soccer - 436 games
<ul>
<li>USSF Soccer</li>
<li>USSF Futsal <em>Expired</em> (counted in USSF Soccer total)</li>
<li>KHSAA Soccer (counted in USSF Soccer total)</li>
</ul>
</li>
<li>KHSAA Volleyball - 39 games</li>
<li>Lacrosse - 24 games
<ul>
<li>KHSAA Girls' Lacrosse</li>
<li>KHSAA Boys' Lacrosse<em>Expired</em></li>
<li>USA Lacrosse Girls Lacrosse (counted in KHSAA)</li>
</ul>
</li>
<li>KHSAA Softball - 0 games (first game scheduled)</li>
</ol>
