---
layout: base.njk
title: "Orange Man's Bane"
date: 2026-03-01
tags:
    - poems
    - politics
    - war
originallyPublished: "davemitchner.com + Facebook"
permalink: "/poems/orangeBane/"
---

<p class="kicker">The Orange Man's Bane</p>
<p class="kicker">Dave Mitchner</p>
<p class="meta">Written February 28, 2026 • Originally published: {{ originallyPublished }}</p>


<pre>
No money for the hungry poor,
In this abundant land;
The coffers swell behind locked doors,
While empty stomachs stand.

“Give us your sick and weary souls,
Your tired yearning free—”
But hush that talk of liberty,
Just call in I. C. E.

They claim to love the book from Rome,
I’ve read its pages through;
If they should meet the wise old man,
They’d likely deport him too.

They guard the names in Epstein's files
The Dow hit fifty Gs
The wealthy shield their own from harm,
Grow richer as they please

“The coffers bare!” said orange man
“No dollar can we spend!”
But loosed a war with careless hand—
His bane unto the end.
</pre>