---
layout: base.njk
title: "Poems"
permalink: "/poems/"
---

<ul class="links">
{% for p in collections.poems | reverse %}
  <li>
    <a href="{{ p.url }}">{{ p.data.title }}</a>
  </li>
{% endfor %}
</ul>