---
layout: base.njk
title: "Poems"
permalink: "/poems/"
---

<ul class="links">
  {% set poems = collections.poems | sort(attribute="data.title") %}

  {% for poem in poems %}
    <li>
      <a href="{{ poem.url }}">{{ poem.data.title }}</a>
    </li>
  {% endfor %}
</ul>