---
layout: base.njk
title: "Senryū 4: Early Heat"
date: 2026-03-24
tags:
    - poems
    - sports
    - refereeing
originallyPublished: "davemitchner.com + Facebook"
permalink: "/poems/senryuHeat/"
---
<p class="poem-title">Senryū 4: Early Heat</p>
<p class="kicker">Dave Mitchner</p>
<p class="meta">Written March 24, 2026 • Originally published: {{ originallyPublished }}</p>

<div class="poem">
Sunday soccer work
90 degrees in late March
The heat was bullshit.
</div>


{% set cats = tags | reject("equalto","poems") | list %}
{% if cats.length %}
<div class="catbox">
  <span class="catlabel">Categories:</span>
  {% for t in cats %}
    <a class="catlink" href="/category/{{ t | slug }}/">{{ t }}</a>{% if not loop.last %} | {% endif %}
  {% endfor %}
</div>
{% endif %}
