---
layout: base.njk
title: "Tomahawk haiku"
date: 2026-03-03
tags:
    - poems
    - politics
    - war
originallyPublished: "davemitchner.com + Facebook"
permalink: "/poems/tomahawkHaiku/"
---
<p class="poem-title">Tomahawk Haiku</p>
<p class="kicker">Dave Mitchner</p>
<p class="meta">Written March 3, 2026 • Originally published: {{ originallyPublished }}</p>
<div class="poem">Tomahawk missiles
Earns Raytheon two point five
For each bloody one
</div>
{% set cats = tags | reject("equalto","poems") | list %}
{% if cats.length %}
<div class="catbox">
  <span class="catlabel">Categories:</span>
  {% for t in cats %}
    <a class="catlink" href="/category/{{ t | slug }}/">{{ t }}</a>{% if not loop.last %} | {% endif %}
  {% endfor %}
</div>
{% endif %}