---
layout: base.njk
title: "Tomahawk haiku"
date: 2026-03-02
tags:
    - poems
    - politics
    - war
originallyPublished: "davemitchner.com + Facebook"
permalink: "/poems/tomahawkHaiku/"
---

<pre>
Tomahawk missiles
Earns Raytheon two point five
For each bloody one
</pre>